<div class="character" *ngIf="character">
    <img class="portrait" [ngStyle]="{'margin-bottom': -1*character.margin+'px'}" src="../../assets/sprites/{{character.file}}">

    <div class="under-portrait">

        <div class="button-container-pause">
            <div class="button-border">
                <div class="button-middle-pause">
                    <button type="button" [disabled]="!isTimer" class="pause-button" (click)="pauseTimer()">
                        <img class="pause-img" src="assets/{{isPaused ? 'play' : 'pause'}}.svg">
                    </button>
                </div>
            </div>
        </div>

        <div class="button-container-left">
            <div class="button-border left-button">
                <div class="button-middle left-button">
                    <button type="button" class="left-button" (click)="startTimer()">
                        <span class="timer">{{ timeLeft$ > 0 ? (timeLeft$ * 1000 | date:'mm:ss') : "Start" }}</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="button-container-right" *ngIf="index && index>0">
            <div class="button-border right-button">
                <div class="button-middle-right right-button">
                    <button type="button" class="right-button" (click)="deleteCharacter()">
                        <span class="delete">X</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="voice">
            <input id="voice" autocomplete="off" [(ngModel)]="voice" placeholder="{{character.name}}">
        </div>

    </div>
</div>
